@import "../../stylesheets/variables.scss";

.list{
    list-style: none;
    padding: 0;
    margin: auto;
    text-align: center;
    display: grid;
    width: 300px;
    grid-template-columns:  150px 150px ;

    @media all and (min-width:768px){
        width: 600px;
        grid-template-columns:  200px 200px 200px;
    }

    @media all and (min-width:1200px){
        width: 800px;
        grid-template-columns:  200px 200px 200px 200px;
    }
}
.card{
    margin: 10px;
    background-color: $colorGrey100;
    box-shadow: 1px 0.5px 5px 1px rgba(100, 100, 100, 0.5);
    border: 1px solid $colorWhite100;
    transition: all ease 400ms;
	&:hover {
        transform: scale(1.05);
        background-color: rgb(252, 195, 90);
        box-shadow: 1px 0.5px 5px 1px rgb(252, 195, 90);
        border: 1px solid rgb(255, 166, 0);
	}
}
