.loading{
    display: block;
    margin: auto;
    
    height: 100px;
    width: 100px;
    animation: loading 1s linear infinite;

    @keyframes loading {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
    
        }
    }
}