.search-label{
    visibility: hidden;
}
.search-input{
    text-align: center;
    border: none;
    box-shadow: 1px 0.5px 5px 2px rgb(192, 192, 192);
    height: 40px;
    width: 200px;

    @media all and (min-width:768px){
        width: 400px;
    }

    @media all and (min-width:1200px){
        width: 500px;
    }
}
.search__container{
    text-align: center;
    padding: 15px 0;
}